.card-title__experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 3% 1% 3%;
}

.card-title__experience__position{
    font-size: 20px;
}
.plus-icon-size{
    font-size: 23px;
    color: rgb(65,115,173)
}

.card-items{
    margin: 3%;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
.sub__card{
   width: 84%;
   margin-left: 3%;
   text-align: left;
   border-bottom: 0.2px solid rgb(216, 216, 216);
}
.place-item__info{
    padding: 0;
}
.card-items__icon-experience{
    width: 13%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    
}
.icont-element{
    font-size: 50px;
    color: white;
}

.card-items__job-title{
    font-size: 18px;
    margin: 0;
    font-weight: 550;
}
.card-items__title{
    font-size: 15px;
    margin: 0;
}
.card-items__date{
    font-size: 13px;
}

.edit-job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit-job-icon{
    color:rgb(65,115,173);
  
}
.card-items__date{
    margin: 0;
    padding-top: 7px;
}
.card-items-description{
    margin: 0;
    padding: 2px;
}
.icons-elements{
    width: 10%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    color:rgb(65,115,173)!important;
  }
  .link-style{
    color:rgb(65,115,173)!important;
  }
 