.card-title__experience{
    // width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-items: flex-end;
    margin: 3% 3% 1% 3%;
}

.card-title__experience__position{
    font-size: 20px;
}
.plus-icon-size{
    font-size: 23px;
    color: rgb(65,115,173)
}

.card-items{
    // width: 95%;
    margin: 3%;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
.sub__card{
   width: 84%;
//    border: 1px solid black;
   margin-left: 3%;
   text-align: left;
   border-bottom: 0.2px solid rgb(216, 216, 216);
//    padding: 1%;
}
.place-item__info{
    padding: 0;
}
.card-items__icon-experience{
    // border: 1px solid black;
    width: 13%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    
}
.icont-element{
    // border: 1px solid black;
    font-size: 50px;
    color: white;
}

.card-items__job-title{
    font-size: 20px;
    margin: 0;
}
.card-items__title{
    font-size: 15px;
    margin: 0;
}
.card-items__date{
    font-size: 13px;
}

.edit-job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit-job-icon{
    color:rgb(65,115,173);
  
}
.card-items__date{
    margin: 0;
    padding: 1px;
}
.card-items-description{
    margin: 0;
    padding: 2px;
}