.cardMocke {
    width:53vw;
    // height: 65vh;
    margin: 10px 12%;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
    box-shadow: 
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 
      0 1px 5px 0 rgba(0, 0, 0, 0.14), 
      0 3px 1px -2px rgba(0, 0, 0, 0.14);
    
    .card-headline{
      position: relative;
      margin-top: 4%;
      margin-left: 3%;
    }
    .card-content-container{
      width: 100%;
      display: inline-flex;
      flex-direction:column;
      text-align: left;
      align-self: baseline;
    }
    .card-user__name{
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    .card-user__sub{
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
    }
    .card-user__sub-job-title{
      font-size: 18px;
      font-weight: 400;
      margin: 0 auto;
    }
    .icon-edit{
      // display: flex;
    position: relative;
     width: 100%;
     font-size: 23px;
     color: rgb(65,115,173)
     
    }
    .icon-test{
      float: right;
      padding: 10px 20px 0 0 ;
    }
    .card-action{
      display: flex;
      justify-content: flex-end;
      margin: 3%;
    }
    .card-background{
      display: flex;
      height: 200px;
      width: 100%;
      margin: 0;
      // background-color:rgb(84, 148, 180);
      background: rgb(0,145,190);
      background: linear-gradient(139deg, rgba(0,145,190,1) 36%, rgba(0,156,171,1) 80%);
    }
    .about-text__content-element{
      margin: 0;
    }
    .button-header{
    background-color: rgb(65,115,173);
    }
  
    .card-avatar{
     
      .avatar {
        display: block;
        position: absolute;
        width: 180px;
        height:180px;
        border: 1px solid lightgray;
        margin-left: 1%;
        margin-top: -150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // -webkit-filter: grayscale(100%);
        // filter: grayscale(100%);
      }
    }

    .link-style{
      color:rgb(65,115,173)!important;
    }
   

   
  }

  // @media (max-width: 768px) {
  //   .cardMocke {
  //     width: 80vw;
  //     display: flex;
  //   } 
  // }